[2019-09-17 18:01] nikgraf opened #2 "Transfer Belt.List docs"
We transferred the names and type definitions, but explanations and examples are missing.

Current work: https://github.com/reason-association/reasonml.org/blob/master/pages/belt_docs/list.mdx

Belt List docs: https://bucklescript.github.io/bucklescript/api/Belt_List.html

Please comment on this issue if you would like to pick it up.

[2019-09-17 18:03] nikgraf opened #3 "Transfer Belt.Option docs"
We transferred the names and type definitions, but explanations and examples are missing.

Current work: https://github.com/reason-association/reasonml.org/blob/master/pages/belt_docs/option.mdx

Belt Option docs: https://bucklescript.github.io/bucklescript/api/Belt_Option.html

Please comment on this issue if you would like to pick it up.

[2019-09-22 09:35] lessp commented on #3
Happy to start this @nikgraf, if no one has already! 🙂

[2019-09-22 10:52] nikgraf commented on #3
@lessp go ahead! thanks a lot for doing so.

To your question: so far I just copied them exactly like in the original docs and fixed examples when I found broken ones. This also meant we followed their pattern of `sig`, usage, example. That said not all of them yet have a usage or an example.
No objection if you plan to extend or improve them :)

[2019-09-22 12:42] ryyppy opened #12 "Create contribution guidelines"
We need a `CONTRIBUTING.md` which contains following information:

**How to give feedback for better documentation:**
This includes feedback about everything related to Reason / BuckleScript / ReasonReact etc. Missing pieces of documentation, unclear instructions on using specific tools.

Example: `I couldn't find any documentation on how to set an aria label in ReasonReact`

**How to report issue

[2019-09-22 12:44] ryyppy opened #13 "ReasonML: Add list of reserved keywords"
As discussed [here](https://reasonml.chat/t/is-there-a-list-of-reserved-words-for-reason-aka-reserved-keywords-identifiers/1213/4), it is a good idea to have a list of reserved keywords.

It would also be interesting to discuss certain syntax desugaring (such as `__x` for `first pipe placeholder` and `type_ vs. type` conversion in object attributes).

[2019-09-22 12:53] #3 closed

[2019-09-22 13:01] ryyppy opened #14 "Add Belt version string in the docs"
Not sure where to put this, but it would be great to keep track of the Belt version somewhere visible (maybe header?). I was thinking of retrieving the `bs-platform` version from our package.json for now.

[2019-09-22 15:08] lessp commented on #2
Happy to grab this! @nikgraf

[2019-09-22 15:32] woeps opened #15 "automatically verify & test examples"
**To ensure a given quality of the examples, the example-code inside the readmes shall be verified and tested automatically.** (freely quoted from reasonml.org)

Let's use this issue to plan and track the process of this task.
___

1. How should the process to publish and test examples look like?
2. Do you know some tools we could use to achieve  this task?

[2019-09-22 15:47] woeps commented on #15
A **process** I can think of to contribute to examples and automatically test them is:

- fork the project
- modify some readme (especially some code blocks)
- run tests of the examples locally
- make pull-request for the changes
- CI automatically tests all examples
- probably merge back into project

---

**How to achieve testing the examples?**
We could parse all readmes and extract the codeblo

[2019-09-22 16:42] yawaramin commented on #13
It was mentioned in the thread that OCaml docs already maintain a list of keywords: http://caml.inria.fr/pub/docs/manual-ocaml-312/manual044.html

It might make sense to maintain just a list of Reason _changes_ on top of that list. E.g., `private` -> `pri`, `match` -> `switch`, etc. Of course we would also point to the OCaml reserved words index and say something like, 'ReasonML reserved words are

[2019-09-22 18:48] ryyppy commented on #13
@yawaramin Is it bad to just copy paste it? I think it's better UX to have a complete list right inside the docs to prevent forwarding users to the OCaml manual (we can neither use OCaml nor Reason keywords for variable names, it would be great to have a total overview!)... I guess it's good for DRYness, but on the other hand, keywords won't change that often.

[2019-09-22 18:49] ryyppy commented on #2
Go for it @lessp 👍

[2019-09-22 19:36] yawaramin commented on #13
Copy-pasting with attribution and a link to the source should be fine. Although depending on how we want to show it in the Reason Association docs, it might not really be a straight copy-paste but rather a fairly complete re-organization of the index.

[2019-09-22 21:31] amartincolby commented on #13
I'm of the mind that sending people outside of docs for other docs is bad practice. What needs to be known should exist in a single spot so it can be consumed, contemplated, and edited as a single creation. Reason is not OCaml.

[2019-09-22 21:47] yawaramin commented on #13
@amartincolby I kind of refer to this as the 'curse of crossover technologies', you're always going to have to refer to something external :-)

That said, for the keyword list I agree it's a good idea to document it in one place since it's so intrinsic to Reason syntax.

[2019-09-23 08:04] MoOx commented on #15
I like the idea. I want to do the same for reason-react-native docs, to ensure test compile _at least_.

(If that can help for extraction, I am using https://github.com/phenomic/markdown-as-json for reason-react-native docs (this is JS but "it works") and that could help to not handle the md parsing atm & focus on finding code block in some json.)

[2019-09-23 09:10] ryyppy commented on #13
We will find a way to make it a one page! @yawaramin I really like your argument about attribution, I still need to figure out all the license details for colocating information from different sources.

[2019-09-23 09:22] ryyppy commented on #15
@woeps Yes! This is something we definitely want in the platform, especially because most of our content will be in markdown format in some sorts and we could verify all core doc examples in one spot, which is great! We invested some time in this already, but I haven't had the time to try things out, so I give some input as well:

**Regarding tools:**
We have been considering combining [OCaml's md

[2019-09-23 09:26] ulrikstrid commented on #15
As I see it there are at least 1 issue with `ocaml-mdx` currently, it only extracts ocaml code so you have to manually keep the reason code up to date and make sure you translate it correctly. This could be fixed either upstream in `ocaml-mdx` or with a tool that makes sure the reason and ocaml examples are in sync, I have been thinking about the latter but have not found the time to do it.

[2019-09-23 09:52] nikgraf opened #17 "Transfer Belt.HashMap docs"
We transferred the names and type definitions, but explanations and examples are missing.

Current work: https://github.com/reason-association/reasonml.org/blob/master/pages/belt_docs/hash-map.mdx

Belt HashMap docs: https://bucklescript.github.io/bucklescript/api/Belt.HashMap.html

Please comment on this issue if you would like to pick it up.

[2019-09-23 09:53] nikgraf opened #18 "Transfer Belt.HashSet Int docs"
We transferred the names and type definitions, but explanations and examples are missing.

Current work: https://github.com/reason-association/reasonml.org/blob/master/pages/belt_docs/hash-set-int.mdx

Belt HashSet Int docs: https://bucklescript.github.io/bucklescript/api/Belt_HashSetInt.html

Please comment on this issue if you would like to pick it up.

[2019-09-23 09:54] nikgraf opened #19 "Transfer Belt.HashSet String docs"
We transferred the names and type definitions, but explanations and examples are missing.

Current work: https://github.com/reason-association/reasonml.org/blob/master/pages/belt_docs/hash-set-string.mdx

Belt HashSet Int docs: https://bucklescript.github.io/bucklescript/api/Belt_HashSetString.html

Please comment on this issue if you would like to pick it up.

[2019-09-23 14:55] amartincolby commented on #13
Considering that the list is purely informative, there is no copyright, so no legal need for attribution. One cannot copyright facts. I still think it a good idea to offer the attribution, though, since even though Reason and OCaml are not the same, understanding their similarities is important.

[2019-09-23 17:37] woeps commented on #15
Since I didn't know of any existing tooling, I was thinking of simply writing a node-aplication using ReasonML and Buckleacript. Using Streams to parse and transform the data should be pretty performant:
I'd get all existing md files as an array from a configurable source-directory and map those to promises of stream-processes, each consisting of somethink like
[code]

The transformer(s) would sim

[2019-09-23 19:42] ulrikstrid commented on #15
@woeps if you want help with the native stuff I would gladly help you out. I have the same username on Discord.

My thought was to create a cli tool that takes a path to a file and a flag for either using reason as the source or ocaml and then just parse codeblocks from that language and create output in the other language.
As long as they are in sync mdx will do the rest.

[2019-09-23 22:00] woeps commented on #15
@ulrikstrid Indeed I'd like to help, though my "native knowledge" is very limited yet.

I agree, that a CLI tool would fit, but do we need to specify source using a flag. Couldn't we parse this information from the code-blocks and just specify a "default source type" (re/ml) using a flag in case no syntax-type-annotation is present?
I'm also not sure if we need to create output in different langua

[2019-09-24 07:06] nikgraf commented on #15
Since our primary goal currently is docs for the Web stack (Belt and later on e.g. React, maybe even the Dom & Js namespace) wouldn't kind of rule out "native"?

[2019-09-24 07:26] ulrikstrid commented on #15
My usecase is slightly different than the one here I think, but I have files like [this](https://github.com/reason-native-web/morph/blob/master/docs/markdown/getting-started.md) that includes both Reason and OCaml examples. With the help of docusaurus I can then have [syntax switching](https://reason-native-web.github.io/docs/morph/http-getting-started).
In my build I feed these files to mdx and b

[2019-09-24 08:00] ryyppy commented on #15
@woeps @ulrikstrid @nikgraf After thinking about it, let me state a few points on upsides / downsides for JS vs. Native:

**Notes on BuckleScript / JS / Node:**
- JS doesn't require extra CI setup for fast builds, otherwise we need to introduce `esy` and a whole install / compile step, which is insufficient without CI
- It's probably easier for BuckleScript folks to contribute (not a lot of them d

[2019-09-24 09:32] woeps commented on #15
Maybe we could manage to create at least interfaces we could use both in native and bsb as well, to ease a later migration in compiler targets?

[2019-09-24 15:55] woeps commented on #15
I just thought about an Idea I wanted to share:
What do you think of doing the process the other way around? Writing Examples in separate re files and including parts of the source into the mdx files? I guess we could also achieve this automatically?
Therefore we would be able to "develop" the examples like we would normally do and use a tool like jest for tests. Furthermore we could include all e

[2019-09-24 17:48] ulrikstrid commented on #15
You can always just read the actual file as text and insert it somewhere to render it. This might be a good solution @woeps 👍

[2019-09-24 19:22] ryyppy commented on #15
\

Not a fan of this solution... As a contributor it should be easy to just write documentation and have code snippets at the right location. A system which requires the author to learn to write tests in a specific format and then insert placeholders in the prose text seems really counter intuitive to me.

On a sidenote: Did you know that `bsc` now supports a [standalone mode](https://bucklescript

[2019-09-24 19:50] woeps commented on #15
I totally understand your concerns and I'm not favoring one solution over the other.
But we could still automate tests if we would define a module type for examples
E.g.
[code]
Tests could be generated by iterating over all modules and using the concept of first class modules. To verify we would just check the evaluated example function against the result value.
Is there a way to get all defined m

[2019-09-24 20:31] ryyppy commented on #15
Super excited to discuss this and I it's good we talk about design here!

IMO the goal of this is not to do verification tests of the Belt Api (this is BS' job to make sure the implementation works). The most important thing for us is that the examples do compile and that the interfaces and their usage are type checking. To be able to verify trivial conditionals would be nice, but is not mandatory

[2019-09-24 23:20] woeps commented on #15
I created a Sketch to answer some of your questions (@ryyppy ):
https://sketch.sh/s/qHJQfki3OB6yiZUBQP59O1/

Short:

- No Jest or other dependency needed
- we would use `Example.(example()==result)`
- as long as the modules are compiled in the same directory, I think it shouldn't matter where this is exactly
- my best bet to insert snippets would be a custom component (but this is the most unknown

[2019-09-25 07:33] nikgraf opened #20 "Transfer Belt.Set docs"
We transferred the names and type definitions, but explanations and examples are missing.

Current work: https://github.com/reason-association/reasonml.org/blob/master/pages/belt_docs/set.mdx

Belt Set docs: https://bucklescript.github.io/bucklescript/api/Belt.Set.html

Please comment on this issue if you would like to pick it up.

[2019-09-25 07:45] #17 closed

[2019-09-25 07:45] nikgraf commented on #2
already done, yay

[2019-09-25 07:45] #2 closed

[2019-09-25 07:50] nikgraf opened #22 "Transfer SortArrayInt & SortArrayString Docs"
https://bucklescript.github.io/bucklescript/api/Belt_SortArrayInt.html
https://bucklescript.github.io/bucklescript/api/Belt_SortArrayString.html

[2019-09-25 07:52] nikgraf opened #23 "Transfer Map"
https://bucklescript.github.io/bucklescript/api/Belt_Map.html

[2019-09-25 07:54] nikgraf opened #24 "Transfer MutableSet, MutableSetInt & MutableSetString Docs"
https://bucklescript.github.io/bucklescript/api/Belt_MutableSet.html
https://bucklescript.github.io/bucklescript/api/Belt_MutableSetInt.html
https://bucklescript.github.io/bucklescript/api/Belt_MutableSetString.html

[2019-09-25 07:56] nikgraf opened #25 "Transfer MutableMap, MutableMapInt & MutableMapString Docs"
https://bucklescript.github.io/bucklescript/api/Belt.MutableMap.html
https://bucklescript.github.io/bucklescript/api/Belt_MutableMapInt.html
https://bucklescript.github.io/bucklescript/api/Belt_MutableMapString.html

[2019-09-25 20:29] nikgraf opened #27 "After Transfering the docs update Examples to use Belt.[lib].[fun] instead of [fun]"

[2019-09-25 21:37] woeps commented on #15
Although there are still some important questions - regarding the concept of having examples and docs in separate files - not answered yet:
I looked into it and I think a rough first proof of concept could be realised very quickly by combining the code in the previosly linked sketch and the mdx plugin rehype-partials (using just a custom handler for the plugin). Using partials, examples could be e

[2019-09-26 12:41] ryyppy opened #29 "Fix broken examples"
After #28 is merged, we should think about fixing the examples.
Most of them are straightforward, such as correcting `map` to `Belt.Array.map` etc.

[2019-09-26 19:18] nikgraf commented on #29
This is mostly related to it: https://github.com/reason-association/reasonml.org/issues/27

[2019-09-26 20:15] ulrikstrid commented on #15
@ryyppy @nikgraf I don't think this was supposed to be closed by that PR right?

[2019-09-26 21:24] ryyppy commented on #15
Oh, apparently this was closed by the PR!

Short update from my side (bc this happened while I tried to generate an index from the markdown):
I implemented the logic i mentioned in my comment above, since after copy / pasting and editing so many doc files, I still feel like that all the content should reside in one file and should be edited in pure markdown...

The cool thing though, the test scri

[2019-09-27 08:39] #18 closed

[2019-09-27 08:39] #19 closed

[2019-09-27 08:39] #22 closed

[2019-09-27 11:52] #25 closed

[2019-09-29 15:23] baransu commented on #20
Willing to help! :)

[2019-09-29 18:43] #20 closed

[2019-09-29 18:44] nikgraf commented on #23
Working on it with this PR https://github.com/reason-association/reasonml.org/pull/31

[2019-09-29 18:49] baransu commented on #24
Let's go with the flow! I'll do it :)

[2019-09-29 18:50] nikgraf commented on #24
awesome, thx!

[2019-09-30 07:21] #24 closed

[2019-09-30 07:22] nikgraf opened #36 "Transfer MapInt, MapString, MapDict Docs"
https://bucklescript.github.io/bucklescript/api/Belt_MapInt.html
https://bucklescript.github.io/bucklescript/api/Belt_MapString.html
https://bucklescript.github.io/bucklescript/api/Belt_MapDict.html

[2019-09-30 07:34] ryyppy opened #37 "First design alignment BuckleScript Belt"
We want a first rough stylistic review for the Belt documentation to make it easier on the eyes early on.

Goals:
- [ ] Search component
- [x] Module API Layout (such as [Belt.List](https://reasonml.org/belt_docs/list))
- [x] Prose Layout (such as [Belt Overview](https://reasonml.org/belt_docs))
- [x] Sidebar navigation (mobile support?)

The design should be provided via public URL.

[2019-10-01 06:40] sync commented on #36
example of what to do here: https://github.com/reason-association/reasonml.org/blob/master/pages/belt_docs/list.mdx

will look into it

[2019-10-01 07:24] ryyppy opened #40 "Convert the ocaml-manual to Reason flavoured Markdown"
The [ocaml-manual](https://caml.inria.fr/pub/docs/manual-ocaml/) is the official handbook for using OCaml. It fully describes all features and syntax and is highly valuable for explaining complex mechanics, such as GADTs or polymorphic variants.

This is an ambitious task, I actually post it here so we don't forget about it. It's also a quite isolated task which will hopefully not interfere with o

[2019-10-01 07:28] #12 closed

[2019-10-01 10:48] nikgraf commented on #36
thanks for doing so @sync 👏

[2019-10-01 19:49] baransu commented on #15
Not sure where to put it so I'll comment here.

Some examples require example modules like `IntCmp` in all `Belt.Set` or `Belt.MutableSet` docs. We add example what this module is and why it's required but the current testing script fails in such cases. Do you have any idea how it can be improved?

[2019-10-01 21:35] nikgraf commented on #15
@baransu I would say even if it makes the example quite long I would add it to all of them. Personally I rather have it very clear what's needed.

[2019-10-03 19:58] nikgraf commented on #36
@sync are you able to finish it this weekend? We would like to finish up this weekend with the transfer so people can start using it next week. No problem if you can't make it. I can take over and you could help with other things.

[2019-10-03 20:11] sync commented on #36
Yes I was planning on doing this Friday night and or Saturday Australia time would this be fast enough?

[2019-10-03 20:14] sync commented on #36
Basically means I’ll get this going right after work in about 10 hours

[2019-10-03 21:16] nikgraf commented on #36
totally, thx a lot

[2019-10-04 21:54] sync commented on #36
sorry for the delay starting this now, will open a draft pr as soon as i make some progress :-)

[2019-10-04 23:15] fhammerschmidt commented on #29
I just fixed some of the examples (see #43 ):
- [x] Array
- [x] HashSet
- [x] List
- [x] Map

Still missing:
- [ ] Result
- [ ] Set
- [ ] Set.Dict
- [ ] Set.Int
- [ ] Set.String
- [ ] SortArray
- [ ] MutableSet
- [ ] MutableSet.Int
- [ ] MutableSet.String

[2019-10-05 02:11] sync commented on #36
@nikgraf have a look at this PR: https://github.com/reason-association/reasonml.org/pull/45 and let me know how it can be further improved

[2019-10-05 07:49] #36 closed

[2019-10-05 08:56] ryyppy commented on #23
@nikgraf this is done?

[2019-10-05 11:08] baransu commented on #29
`MutableSet`, `MutableSet.Int`, `MutableSet.String` and `Set`, `Set.Dict`, `Set.Int`, `Set.String` should be correct. I adjusted it during transfer.

[2019-10-05 12:18] #23 closed

[2019-10-05 12:18] nikgraf commented on #23
yes

[2019-10-05 12:39] woeps commented on #15
Great that you found a more "easy-going" solution!

[2019-10-05 13:54] nikgraf commented on #29
@baransu we now have a test script automatically testing if all the examples compile: `yarn test`. Most of the ones you transferred do, but we can fix the ones which don't :)

[2019-10-05 13:55] baransu commented on #29
@nikgraf I'll fix them as I have some time right now :)

[2019-10-05 14:03] nikgraf commented on #29
@baransu awesome, I also started, but have to leave now. I merge this one: https://github.com/reason-association/reasonml.org/pull/47

[2019-10-06 05:57] #29 closed

[2019-10-06 05:57] #27 closed

[2019-10-06 06:01] nikgraf opened #50 "Create examples for every function of List"
https://github.com/reason-association/reasonml.org/blob/master/pages/belt_docs/list.mdx

[2019-10-06 06:02] nikgraf opened #51 "Create examples for every function of Float"
https://github.com/reason-association/reasonml.org/blob/master/pages/belt_docs/float.mdx

[2019-10-06 06:03] nikgraf opened #52 "Create examples for every function of HashMap"
https://github.com/reason-association/reasonml.org/blob/master/pages/belt_docs/hash-map.mdx

[2019-10-06 06:03] nikgraf opened #53 "Create examples for every function of Result"
https://github.com/reason-association/reasonml.org/blob/master/pages/belt_docs/result.mdx

[2019-10-06 06:04] nikgraf opened #54 "Create examples for every function of Option"
https://github.com/reason-association/reasonml.org/blob/master/pages/belt_docs/option.mdx

[2019-10-07 12:33] fhammerschmidt opened #55 "Prelude for examples?"
The examples all work and pass the tests again, but there is some boilerplate in many of them.

Especially the

[code]

in `Set` or `Map` examples makes the whole thing harder to read. What if we had some prelude which gets copied implicitly to every example where it is needed?

The examples could have 2 viewing modes:

- a concise one
- a complete one

[2019-10-08 23:30] nikgraf commented on #55
Makes sense to me. Not sure though if it's worth all the engineering & maintenance effort this will bring. I think the bigger value at this point is making more examples or documenting the `Js` space.

[2019-10-09 15:16] ryyppy commented on #15
I will close this for now, since I believe things will change a lot soon when we start to extract the documentation / examples from the source code

[2019-10-09 15:16] #15 closed

[2019-10-10 19:59] fhammerschmidt commented on #55
Yeah, surely this is not the highest priority. Just to keep it in mind.

[2019-10-11 18:41] ryyppy commented on #55
If it's really taking over, I can imagine adding some kind of `prelude.js` file, which allows injecting prelude code in each code snippet (either spaced to a specific module, or easier, for all modules).

There's some things to watch out for, like in case of an error, we need to account the line numbers of the injected code sample and correct the reported line number in the error message.

Let's g

[2019-10-11 18:43] ryyppy commented on #55
Another idea would be to have an `export prelude = "my code"` in the mdx file (probably better, since we can scope each prelude to the module itself and it's easier to author it)

[2019-10-12 17:22] #55 closed

[2019-10-14 09:42] ryyppy opened #59 "Transfer JS namespace to our platform"
This includes all submodules inside it.
See: https://bucklescript.github.io/bucklescript/api/Js.html

[2019-10-14 09:44] ryyppy opened #60 "Unify API navigation"
Currently we are only exposing a navigation for the Belt docs, but we would need some generalized navigation page to expose the `Js` and `Node` module as well.

This is probably a more complex issue, since we need to abstract some layout from the `BeltDocsLayout` module first.

[2019-10-14 22:14] theshortcut commented on #50
I'd like to help out with this if no one else is already working on it.

[2019-10-15 20:55] mlms13 commented on #13
There are some additional words in Reason that get special treatment (e.g. `not` gets rewritten as `!`) due to the fact that the parser makes some assumptions about the stdlib. I realize that's not quite the same thing as being a "reserved word" but it would be really great if those were documented somewhere.

[2019-10-16 10:07] #50 closed

[2019-10-16 10:09] #59 closed

[2019-10-16 17:26] smlmrkhlms commented on #14
@ryyppy May I take a stab at this one?

[2019-10-16 20:54] ryyppy commented on #14
sure! You could place it somewhere in the BeltDocLayout similar on how the design shows it:
https://xd.adobe.com/spec/15aaca36-8352-45aa-48c2-18fc508c81ed-639b/screen/64053c93-f30e-40d2-be46-e84cd63a5e4d/Belt-Desktop-wide

let me know if you have any questions 👍

[2019-10-16 21:03] smlmrkhlms commented on #14
@ryyppy Sounds good!

[2019-10-17 06:50] #14 closed

[2019-10-17 16:42] smlmrkhlms commented on #54
@nikgraf I can take this one if it is okay with you.

[2019-10-17 16:44] smlmrkhlms commented on #54
@nikgraf Actually, it seems like a lot of the examples are covered. Is the remaining work to be done providing examples for the uncurried versions or am I missing something? Thanks.

[2019-10-17 17:53] ryyppy opened #64 "Add search functionality for Belt docs"
We will need to figure out a good index structure to efficiently look for all the necessary data.
Would be great to be able to classify by Belt and JS equivalent function.

[2019-10-18 10:32] nikgraf opened #66 "Larger Click areas in the Sidebar"
Currently the click area is the size of the text. The smaller the text the harder it is to reach it easily.

<img width="860" alt="Screenshot 2019-10-18 at 12 30 02" src="https://user-images.githubusercontent.com/223045/67087455-43be0280-f1a3-11e9-89f4-ed3f52f15b80.png">

By applying `display: block` to the links the click area would be way larger.

<img width="935" alt="Screenshot 2019-10-18 at 1

[2019-10-18 10:38] nikgraf opened #67 "Sidebar items not focusable in Firefox"
Noticed it while I briefly couldn't use the Mouse

<img width="909" alt="Screenshot 2019-10-18 at 12 35 34" src="https://user-images.githubusercontent.com/223045/67087820-fee69b80-f1a3-11e9-932f-ec1170f478ab.png">

In Chrome it works fine

<img width="247" alt="Screenshot 2019-10-18 at 12 37 50" src="https://user-images.githubusercontent.com/223045/67087871-1de52d80-f1a4-11e9-947a-c788b465e04e.png

[2019-10-18 10:52] nikgraf commented on #54
@smlmrkhlms I was thinking about uncurried examples, but we recently discussed to try out a section that generally explains uncurried functions. I will open issues for other Modules where we actually missing examples.

[2019-10-18 10:52] #54 closed

[2019-10-18 11:54] nikgraf opened #68 "Create examples for every function of Int"
https://github.com/reason-association/reasonml.org/blob/master/pages/belt_docs/int.mdx

[2019-10-18 11:54] nikgraf opened #69 "Create examples for every function of Range"
https://github.com/reason-association/reasonml.org/blob/master/pages/belt_docs/range.mdx

[2019-10-18 11:55] nikgraf opened #70 "Create examples for every function of Range"

[2019-10-18 11:55] #53 closed

[2019-10-18 14:58] smlmrkhlms commented on #54
@nikgraf Absolutely! Thanks.

[2019-10-21 10:41] ryyppy commented on #66
I agree, maybe we can put a visual hover (simliar on how selected items look like, but more subtle) as well?

[2019-10-21 12:27] nikgraf commented on #66
@ryyppy sounds good to me! Should I check with Betty or just implement it?

[2019-10-21 12:49] bettistein commented on #66
@nikgraf @ryyppy Yes, that would be all great. (it was my initial idea anyway, but probably didn't communicate it through the design efficiently.)

[2019-10-21 12:54] bettistein commented on #66
Please have a look on Nr. 8 in the comments: click area is transparent, but the appearance of the text changes on "hover". Let me know if that works. If it's too subtil, please tell me!
https://xd.adobe.com/spec/15aaca36-8352-45aa-48c2-18fc508c81ed-639b/screen/5c8d88b2-5520-460f-aba5-e75d5d5413af/Belt-Desktop-lila-1

(sorry for the ugly link)

[2019-10-22 11:35] fhammerschmidt commented on #68
This is a low-hanging fruit.
Will do it later today, together with #51, because it's basically the same thing.

[2019-10-22 11:36] fhammerschmidt commented on #51
As mentioned in #68: Will do that later today.

[2019-10-22 15:06] smlmrkhlms commented on #69
@nikgraf I would be happy to tackle this one if it's okay with you!

[2019-10-25 16:33] #69 closed

[2019-10-25 16:34] #67 closed

[2019-10-25 16:42] #51 closed

[2019-10-25 16:51] fhammerschmidt commented on #68
I guess you can close this too.

[2019-10-25 16:51] #68 closed

[2019-10-25 16:53] nikgraf opened #76 "Create examples for every function of HashSet"
https://github.com/reason-association/reasonml.org/blob/master/pages/belt_docs/hash-set.mdx

[2019-10-27 20:24] nikgraf opened #79 "API example"
I would like to define how the ideal documentation structure and style for a module & its functions look like.

Ideally this results in a very crisp guide on how to do this. Once this is defined we can focus on aligning all of them. (Aligning them already came up 4 times or so).

If you have ideas or good examples please chime in here as well.

One example for a guide I like is this one: https://p

[2019-10-27 20:45] nikgraf opened #80 "Long signatures are cut off"
Currently long signatures don't fit and there is a horizontal scrollbar. For once sometimes it's not obvious that I can scroll and in general it's not a nice experience when trying to grasp the whole functions.

<img width="682" alt="Screenshot 2019-10-27 at 21 41 12" src="https://user-images.githubusercontent.com/223045/67641460-8e0d5500-f902-11e9-9dc6-82f3d2ce4a3c.png">

For wider screens to we

[2019-10-27 20:51] nikgraf opened #81 "Sidebar: distinguish current module from others?"
<img width="275" alt="Screenshot 2019-10-27 at 21 45 40" src="https://user-images.githubusercontent.com/223045/67641605-56eb7380-f903-11e9-9440-ebd483014c6c.png">

The currently open Module looks exactly like the other menu entries. I noticed this confused beginners who aren't that familiar with Belt.
I believe it would help if both would look a bit different or there would be some kind of visual

[2019-10-27 20:51] nikgraf commented on #80
Just noticed it's the same for examples.

[2019-10-27 22:22] ryyppy commented on #81
In the latest design, the selected module is more obviously distinguished from the rest of the navigation. Originally I wanted to hold off adapting it for now since I wanted to rework the navigation hierarchy  when we display a more general API overview (which contains Belt as a subnavigation point). But maybe it makes sense to implement it already, just to get a quick benefit?

[2019-10-28 07:07] bettistein commented on #80
I would go for "next line" rather than scrolling. Should I do a quick design for this? @ryyppy @nikgraf

[2019-10-28 07:35] ryyppy commented on #80
@nikgraf I think for very long signatures, we need to set up `refmt` to limit it to a certain line length and let `refmt` do it's job. A browser-enforced line wrap would definitely look weird?

[2019-10-28 09:55] nikgraf commented on #80
great point, that said for small screen e.g. mobile this won't work?!?

Would it make sense to do the refmt thing for our standard size and then apply this CSS to the pre-tag:

[code]

It would look like this

<img width="512" alt="Screenshot 2019-10-28 at 10 51 25" src="https://user-images.githubusercontent.com/223045/67668922-27735000-f971-11e9-85cd-a10995292919.png">

[2019-10-28 22:25] baransu commented on #79
It's not exactly documentation format or guideline but in general whole HexDocs (Elixir centralized packages documentation) is a great example.

Example section: https://hexdocs.pm/elixir/writing-documentation.html

[2019-11-08 12:33] kadfak opened #86 "Code blocks have redundant vertical scrollbar in Firefox"
For some reason some code blocks have a scrollbar, others don't.

<details><summary>Show image</summary>

![bug](https://user-images.githubusercontent.com/17338808/68476558-ac911b80-0233-11ea-98dd-59069d6acd9a.png)
</details>

[2019-11-12 00:08] ryyppy commented on #86
Will eventually be resolved by #84

[2019-11-12 00:08] ryyppy commented on #81
Will be tackled by #84

[2019-11-12 00:09] ryyppy commented on #80
Will be tackled by #84

[2019-11-20 23:11] tsnobip opened #88 "Firefox: cannot scroll down to the bottom of the sidebar"
I noticed that to get to the bottom of the sidebar on Firefox I have to scroll down to the bottom of the main page. You can see how the bottom of the sidebar is cropped in this screenshot from the 13" screen of my old macbook air. Works as intended on Chrome. Maybe something to keep in mind during #84 :)
![Capture d’écran 2019-11-21 à 00 08 37](https://user-images.githubusercontent.com/2479216/6

[2019-11-21 13:33] fhammerschmidt opened #89 "Incorporate news aggregator?"
User @johnridesabike just announced his reason news aggregator in Discord.

https://github.com/johnridesabike/reason-planet
It currently aggregates blogposts from

- https://reasonml.github.io/blog/
- https://reasonml.github.io/reason-react/blog/
- https://bucklescript.github.io/blog/
- https://esy.sh/blog/

We think it would be an ideal fit for reasonml.org, as this site already aims to be the en

[2019-11-26 09:32] ryyppy commented on #89
I hope we can just have one communication channel in the future... would make it much easier to have properly planned, scheduled and well-formatted content

[2019-11-26 09:34] ryyppy commented on #88
Thanks for the report! Will make sure to fix that in the major design implementation in #84

[2019-11-26 10:41] ryyppy commented on #66
Will be solved in #84

[2019-12-01 09:02] imbsky opened #90 "The search window should be fixed"
Currently, when I moved from the top page to the API page, the search input position moves from right to left. This is little uncomfortable.

[2019-12-21 10:55] ryyppy commented on #90
The search UI will be reworked in a later point in time. There's some UX testing we need to do first. For now #84 will remove the search bar in favor of a search icon

[2019-12-21 11:17] #88 closed

[2019-12-21 11:26] ryyppy commented on #86
Should be fixed now

[2019-12-21 11:26] ryyppy commented on #80
Fixed

[2019-12-21 11:26] #80 closed

[2019-12-21 11:27] ryyppy commented on #81
Fixed

[2019-12-21 11:27] #81 closed

[2019-12-21 11:27] ryyppy commented on #66
Fixed

[2019-12-21 11:27] #66 closed

[2020-01-06 09:21] tgrecojs commented on #76
Going to try & help out with this at #70.

[2020-01-06 09:22] tgrecojs commented on #76
I think the URLs must have either changed or maybe is it an access problem? Seems like this should point to https://github.com/reason-association/reasonml.org/blob/master/pages/apis/javascript/latest/belt/hash-map.mdx but could be wrong.

[2020-01-06 09:25] tgrecojs commented on #70
Same thing as the HashSet URL. Should be https://github.com/reason-association/reasonml.org/blob/master/pages/apis/javascript/latest/belt/id.mdx now?

[2020-01-09 09:00] ryyppy commented on #70
yes, the urls changed!

[2020-01-09 09:00] ryyppy commented on #76
that's a correct assumption, this is a rather old issue

[2020-02-04 14:15] montogeek opened #97 "Add pages title"
I just noticed that pages don't have a title. I am willing to implement this feature.

[2020-02-12 12:23] #52 closed

[2020-02-13 13:41] ryyppy commented on #90
This issue is closed since the navigation has changed since then. Should be uniform right now

[2020-02-13 13:41] #90 closed

[2020-02-13 13:41] #86 closed

[2020-02-13 21:13] imbsky commented on #90
Cool!

[2020-02-17 20:39] #60 closed

[2020-02-17 20:45] ryyppy opened #100 "Inline bs-blabla to the BuckleScript docs"
BuckleScript needs a dedicated section for all its external decorators, such as `[@bs.module]`, with proper examples and more thorough explanation on its use-cases.

[bs-blabla](https://github.com/moroshko/bs-blabla) is probably the most complete documentation on all available decorators so far, so it would be great to process the material in a way so it's easy to navigate on the docs. (I asked th

[2020-02-18 16:52] ryyppy opened #103 "Create anchor icon"
![image](https://user-images.githubusercontent.com/1121889/74758300-71ad7380-5277-11ea-9914-f44bfa6af4fc.png)

[2020-02-19 01:03] Et7f3 opened #105 "Old mds files used + broken link"
screenshot from reasonml.org: ![image](https://user-images.githubusercontent.com/29592775/74791657-5cf2cf00-52bb-11ea-9ada-b973d06eb45d.png)

and from reasonml.github.io:
![image](https://user-images.githubusercontent.com/29592775/74791678-7562e980-52bb-11ea-9525-a246465bd20e.png)

Also I was able to trigger a 404 error when clicking on the `here` I thought https://github.com/reason-association/re

[2020-02-19 07:40] ryyppy commented on #105
You just found a bug in the link rendering logic, thanks.

Right now, the markdown renderer is removing all occurrences of `.md(x)?$` in each link, this regex fails on anchored links, such as in this example: `/docs/.../object.md#tip-tricks`.

Will fix that

[2020-02-19 08:05] ryyppy opened #107 "Use github slugs for anchored links"
Right now we didn't bother implementing the logic for sluggifying the hrefs and just used the ugly `%20` / upper- and lowercased versions of title anchor links.

Example:

[code]

should translate to `#hello-world` instead of `#Hello%20World`

Things to do:
- Add github-slugger logic to `Markdown.re`'s `<Anchor>` component

Make sure:
- That multiple titles with the same content are actually suffi

[2020-02-19 08:13] ryyppy opened #108 "Upstream latest changes from reasonml.github.io / bucklescript.github.io"
There has been some more activity on both repos lately.
This includes all changes starting from January 2020

**reasonml.github.io history:**
https://github.com/reasonml/reasonml.github.io/commits/source

**bucklescript.github.io history**:
https://github.com/BuckleScript/bucklescript.github.io/commits/source

(No activity on the ReasonReact docs so far)

[2020-02-19 08:21] ryyppy commented on #105
Tackling the old .md problem in #108

[2020-02-19 08:29] #105 closed

[2020-02-19 10:46] #108 closed

[2020-02-19 11:01] ryyppy opened #110 "Upstream GenType"
Need to coordinate with @cristianoc regarding structure and syncing process, but I guess just splitting up the README by headlines should be fine.

https://github.com/cristianoc/genType

[2020-02-19 11:04] ryyppy opened #111 "Add missing UI elements (for markdown content)"
As reflected by the design [here](https://xd.adobe.com/spec/1cd19c3a-a0bb-4f93-4e11-725589888696-6ae0/screen/95e5e069-ba20-407c-9232-65680204d12f/Reason-org-1400-Docs-Fonts-Inter)

## Text Boxes

- `<WarnBox>`
- `<InfoBox>`
- `<UrlBox>`

![image](https://user-images.githubusercontent.com/1121889/74828597-b1279e80-530f-11ea-8901-30080e485b4d.png)

## `blockquote`

![image](https://user-images.githu

[2020-02-19 11:14] ryyppy opened #112 "Design Landing Page Copy"
Our designer requires content to be able to create a custom design and illustrations for the landing page.

[This discussion](https://github.com/reasonml/reasonml.github.io/pull/606) has some good points that also resonate with our previous ideas, let's see where this goes.

[2020-02-19 11:26] ryyppy commented on #89
Just to follow up to that, ideally this is how the blog section (with aggregated content) could look like:

![image](https://user-images.githubusercontent.com/1121889/74830072-a3274d00-5312-11ea-889a-ca4aa6d46dad.png)

Giving visual distinction and structure is something I really value in blogs (with proper highlights on the most important / most recent posts etc).

**Link to the design:** https:/

[2020-02-19 11:38] Et7f3 commented on #108
Why it is closed ? other Reason Website have open issues and PR that wait to be merged. So the md file here can become oudated. Why not keep track here with the latest HEAD synced.

[2020-02-19 12:06] ryyppy commented on #108
not sure about the process yet, I thought we could just reopen new issues later on?

[2020-02-19 17:34] ryyppy opened #113 "Design "Tag" components"
We need tag components to signal certain conditions on when a documented feature is usable.

**Example:**
![image](https://user-images.githubusercontent.com/1121889/74858871-50678880-5346-11ea-9f37-057ab82c35b6.png)

[2020-02-19 17:39] ryyppy opened #114 "Navbar collapsible items won't open on iOS 12 Safari"
Burger button seems to work, but other CollapsibleNavigation items do not pop up

[2020-02-19 18:13] #114 closed

[2020-02-20 09:09] ryyppy opened #116 "E2E tests / visual regression testing on CI"
The project is slowly getting big and manual testing can be a hazzle, so I'd like to slowly figure out what tools to use to automate some of those things.

Thinking about Cypress for E2E and Percy for screenshot / visual regression testing automation.
I'd appreciate any input from experienced testers in that regard!

[2020-02-20 10:00] lessp commented on #116
Can recommend Cypress for E2E-tests, have used quite a bit, especially with the cucumber syntax extension: https://www.npmjs.com/package/cypress-cucumber-preprocessor

From their example:

[code]

[2020-02-20 17:52] #111 closed

[2020-02-24 09:00] ryyppy opened #119 "Next / Previous links for Sidebar based layouts in mobile view"
When navigating a sidebar based doc, it's cumbersome to go from page to page by opening up the sidebar via burger button. In mobile, it should show a previous / next link, just like in docosaurus:

![image](https://user-images.githubusercontent.com/1121889/75139271-7b5a2f80-56ec-11ea-85a6-93deb6deca01.png)

This next / previous link will be hidden in Table / Desktop view to prevent clutter

[2020-02-24 09:03] ryyppy opened #120 "Fix responsiveness of Sidebar navigation burger button"
There seem to be some issues in the responsiveness of touching the button on mobile.
My wild guess is that it's event related (mousedown event instead of onClick? etc)

[2020-02-25 08:25] ryyppy opened #121 "Discussion: Localization"
Right now we intentionally left out localization. One of the reasons is that we wanted to figure out more details on how the website structure / URIs should look like. Also,  judging from the existing official resources, translations are quite flaky. Probably the most thorough translation for reasonml.github.io right now is French (I don't speak French, so I don't know how up-to-date those are). B

[2020-02-25 08:40] Kingdutch commented on #121
I would encourage looking at how other projects solve this before trying to come up with our own solution : )

I think setting up a base for translations should be included at the start. It could also have impact on the way the English site is structured (from a source and deployment perspective, not necessarily site-page organisation). Doing this after the fact can be painful.

Additionally, havi

[2020-02-25 09:16] ryyppy commented on #121
own solution : )

I recently read the updates on the [TS website v2 localization strategy](https://github.com/microsoft/TypeScript-Website/issues/130#issuecomment-575192008) and opened this issue to do some more research (to be clear: I don't want to come up with my own solution and rather get inspired by existing solutions / processes) :-)

That's a good model! They literally fork the whole react

[2020-02-25 10:24] ryyppy opened #122 "Enable custom ids in markdown headers"
It would be useful for headers to be fixed on a specific anchor id, so it's easier for us to implement localization and similar features later on.

This is how reactjs.org does it: https://github.com/reactjs/de.reactjs.org/blob/master/plugins/gatsby-remark-header-custom-ids/index.js

Example:

[code]

`#some-header` would now be the anchor id.

This is extremely useful, if we decide on a localizat

[2020-02-25 10:31] ryyppy commented on #97
Just so you know, I have been tinkering around with ways on how to pass meta data from the pages into the layout components. At some point we will probably need some frontmatter parsing in the markdown itself, to be able to add description text, keywords, title etc more easily.

Currently there are some bigger changes in the layout architecture coming in #118, so let's see where this will fit in

[2020-02-25 10:37] ryyppy commented on #37
I will close this for now since this is an ongoing process. The search component will be tracked in separate tasks later on.

[2020-02-25 10:37] #37 closed

[2020-02-25 15:53] #107 closed

[2020-02-25 16:05] ryyppy commented on #110
Done

[2020-02-25 16:05] #110 closed

[2020-02-25 16:17] ryyppy opened #123 "Add Docs for BuckleScript Name mangling rules"
The old BS docs had a section regarding name mangling rules for object attributes to prevent ocaml keyword collisions, but it was removed in the more recent docs.

Would be great to bring it back in the Object 1 / Object 2 section again!

Original source: https://bucklescript.github.io/bucklescript/Manual.html#_object_label_translation_convention

[2020-02-25 16:56] fhammerschmidt commented on #100
I gladly would tackle this.

bs-blabla is probably not the most accurate name, though.

I would suggest to use **bs-decorators** instead for the doc title. Or do you have something better in mind?

[2020-02-25 17:04] fhammerschmidt commented on #13
The correct list of keywords will always be in the source code: https://github.com/facebook/reason/blob/master/src/reason-parser/reason_declarative_lexer.mll#L85-L144

[2020-02-25 20:31] ryyppy commented on #100
Sure, give it a preferred name and place a link in the ReasonCompilerLayout in the Interop category maybe? There's also a reference to bs-blabla in there somewhere which needs to be redirected as well 👍

[2020-02-26 06:35] ryyppy opened #126 "Sidebar TOC hard to read with long headers"
When the table of contents contains longer headers spanning over multiple lines, it's hard to separate the clickable items.

![image](https://user-images.githubusercontent.com/1121889/75318268-4b389b00-586a-11ea-93d3-2ae1522d1028.png)

See https://reasonml.org/docs/gentype/latest/usage

\cc @wokalski (thanks for pointing it out)

[2020-02-26 06:59] ryyppy opened #127 "Blog section design"
There's already a blog design, but we wanted to revisit it

[2020-02-26 08:03] ryyppy opened #128 "Markdown Tab Component"
The official ReasonML docs started using Docusaurus' tabable component to make the code examples more compact:

![image](https://user-images.githubusercontent.com/1121889/75324186-aff9f280-5876-11ea-8559-8b6e852ee6a4.png)

We need an equivalent to represent the same code snippet in different languages and make them tabbable.

[2020-02-26 08:49] bettistein commented on #103
Here's  the updated design link to the icon:
https://xd.adobe.com/spec/1cd19c3a-a0bb-4f93-4e11-725589888696-6ae0/screen/95e5e069-ba20-407c-9232-65680204d12f/Reason-org-1400-Docs-Fonts-Inter/

<img width="1020" alt="Bildschirmfoto 2020-02-26 um 09 48 52" src="https://user-images.githubusercontent.com/35029844/75327740-33b6dd80-587d-11ea-9c62-a246d53d2674.png">

[2020-02-26 09:50] ryyppy opened #130 "Add documentation for the [@unboxed] feature"
Maybe by adapting the original blog post and also add some more descriptions on when you want to use this (e.g. we used it in our Markdown.re file for representing MDX children, which are kinda polymorphic by design)

Also, the [@unboxed] decorator should be mentioned in the `decorators.mdx` doc.

[2020-02-26 09:51] ryyppy commented on #130
\cc @fhammerschmidt

[2020-02-26 10:04] ryyppy commented on #100
Done  🎉

[2020-02-26 10:04] #100 closed

[2020-02-26 11:11] ryyppy opened #132 "Automatically list all upcoming community events"
This could be a standalone component mounted in the `pages/community/events.mdx` page.

\cc @cem2ran

[2020-02-26 13:42] cem2ran commented on #132
Quick prototype based on: https://github.com/OneGraph/onegraph-meetup-plugin

Live preview: https://cem2ran.github.io/reasonml-events
![image](https://user-images.githubusercontent.com/959142/75349937-e7cc5e80-58a5-11ea-8314-0f16a2b564e3.png)

Are there any design guidelines/system I should follow to tweak the styling or is it good enough as is?

I'm using the following logic to filter some of the

[2020-02-26 15:14] ryyppy commented on #132
For now it's enough to keep it simple with the styling and we will let @bettistein have a look at it for a proper design mockup.

The rest sounds fine, how would one manage the API keys though?

[2020-02-26 17:18] jdeisenberg commented on #79
## Format for Examples

It would be useful to have a consistent format for code examples.

## Types of Examples

Looking through the current documentation, there are several main types of examples. I'm labeling them with letters in parentheses for ease of reference.

First, the ones that give results in a comment:

[code]

Some examples of this type use `Js.log()`:

[code]

Another major type of e

[2020-02-26 21:48] cem2ran commented on #132
Right now its setup as a persisted query so you call an endpoint that can only do one thing (query ReasonML meetups). Also it's set to a TTL of 1 hour. So meetup.com is only hit at most 24 times a day, otherwise served from cache. Currently it's authenticated with my own personal meetup & onegraph account, but we can create one for ReasonAssoc, if needed. I'll try to get some feedback from Sean (o

[2020-02-28 10:16] ryyppy commented on #121
I spent some more time on thinking about the localization process: I played around with Crowdin (and how to set it up etc), since we need to manage that thing ourselves... generally it's not too hard and the crowdin interface is really good for managing markdown data.

**I wanted to plot down a list of open questions I had when doing my research:**
- How to design the URLs
- How does Algolia do th

[2020-02-28 17:04] vasco3 opened #137 "Sort sidebar menus by alphabetical order"
The sidebar menus would be easier to read if they were ordered alphabetically.
Also it would help to spot duplicates.

[2020-02-28 23:24] ryyppy commented on #137
Which sidebar items are you referring to? The docs follow a certain narrative, for the API module items, it follows the order of the document body

[2020-02-28 23:26] vasco3 commented on #137
this one
![image](https://user-images.githubusercontent.com/804301/75594727-4e40b080-5a4f-11ea-892c-9de6c6a49682.png)

and this

![image](https://user-images.githubusercontent.com/804301/75594739-5d276300-5a4f-11ea-830d-abf27a90f30e.png)

for example, I wanted to know if List had a `filter` method. So I had to search with `Cmd-F` because List has many methods and they aren't sorted. If they were b

[2020-03-02 09:29] ryyppy commented on #137
I see, yeah that is a good idea. The index data is generated from the `scripts/extract-indices.js` script.. we will consider this when building the odoc json extraction tool

[2020-03-02 09:37] ryyppy commented on #128
Thought about the design of this:

Docusaurus is using html comment strings to do the component injection. We don't need to do that, we can use MDX to do the dirty bits, leading to a much cleaner solution. This is how I'd imagine the markdown to look like:

[code]

Here, `CodeTabs` is injected as a shortcode. It's globally available to our editors.

The Tab component has the same look and feel as

[2020-03-02 09:48] woeps commented on #128
In the Screenshot the tabs are titled "Reason" and "Output".
Where would the `CodeTabs` component get this information from?
How would it handle several codeblocks of the same language?

[2020-03-02 12:00] ryyppy commented on #128
@woeps I find `Output` to be a very weird description... would have been much more understandable if it'd be called JS or... ML .. depending on what the output actually is!

`How would it handle several codeblocks of the same language?` - That would be a "real tab component" with actual tabs (maybe `CodeTabs` should actually be called something like `CodeToggle` to disambiguate), but it would be a

[2020-03-02 13:28] woeps commented on #128
I thought this might be some preparation for larger examples, where each "tab" would represent a file/module. Now, I see this was a misconception of mine.
Then I guess the build will just fail with multiple code blocks if the same lang, which seems fine in this case.

[2020-03-10 17:11] johnridesabike opened #142 "Ideas for homepage example code"
Both [reasonml.github.io](https://reasonml.github.io/) and [bucklescript.github.io](https://bucklescript.github.io/) have code examples at the top of their homepage, which got me thinking about the reasonml.org wanted to use something similar.

I think the [Node.js about page](https://nodejs.org/en/about/) nails this. Its example code is simple, short (14 lines), and shows you how to do something

[2020-03-10 19:42] austindd commented on #142
I like this idea a lot. Your specific code example makes a lot of sense coming from Reason, but it might be slightly verbose for displaying on the front page (IMHO). Still, the concept is great!

It's really important for people looking at a new language to be able to see some code written in that language, and for it to just "make sense" right off the bat. That gives people a positive feeling abo

[2020-03-10 21:58] vmarcosp commented on #127
@ryyppy do you need help with some ui/ux issues? I can help :)

[2020-03-16 20:55] fhammerschmidt opened #145 "Documentation ideas"
This issue is an umbrella issue for all documentation pain points some of us went through when learning ReasonML. Feel free to drop a comment of what you feel is missing on the old documentation sites (reasonml.github.io, bucklescript.github.io, reason-react, etc.) to make reasonml.org an even better and more complete learning experience.

[2020-03-16 20:58] fhammerschmidt commented on #145
I start with some points mentioned by @austindd in the Discord #docs channel:

- The use of polymorphic variants in general, but in particular, the concept of lower/upper bounds on the type, and how they are applied to type parameters for subtyping. This is certainly advanced, but it's not any more advanced than, say, implementing a custom class-decorator in TypeScript. It should be documented IMO

[2020-03-16 21:06] ryyppy opened #146 "Add Docs for First Class Modules"
First Class Modules were not documented in Reason so far, mostly on purpose to not overwhelm early adopters of the language, and due to fear that ppl will go crazy with abstractions when learning these concepts.

Let's propose to create a document in the Reason Manual within an "Advanced" section, explaining the concepts of FCM (also the acronym):

- How do you write / use FCMs
- When are they use

[2020-03-16 22:09] mlms13 commented on #146
I don't know of significant performance/generated-readability issues (other than what's already present in Functors, which are already documented on the Module page).

For context, [here's a code sample](https://reasonml.github.io/en/try.html?rrjsx=true&reason=LYewJgrgNgpgBASQHYBcYCcBmBDAxvAXjgG8AoOOUSWOFATwAd4BRARTiLIovqdoG5y3WCjgwAjgC44AChQAaWgEoOAPjgAjECCiCKAX0GHSpKtHgBlFOgCWSAOYcSQ3vFFEAztbv29

[2020-03-16 22:33] austindd commented on #146
@mlms13 Yeah, if I recall correctly, there was some kind of documentation (or perhaps someone's blog post) about why Belt insists on using FCM's for `Set` & `Map`. But it's not immediately obvious to newcomers.

[2020-03-16 23:50] austindd commented on #146
I would, however, say it takes more thought to pack/unpack a module in many cases. There is a particular set of conventions people use which tends to work well, e.g. specifying very limited module signatures in the function argument, so many different modules will work with minimal conversion overhead (like renaming functions).

There are a lot of things that we now take for granted, which ultimat

[2020-03-17 09:04] ryyppy opened #148 "Add Docs for typing Union Types via the [@unboxed] feature"
Create a standalone page "Union Types", which basically translates the previous BS blog posts into a more formal documentation page:

- [Union Types in BS](https://bucklescript.github.io/blog/2020/02/07/union-types-in-bucklescript)
- [BS 7.2 Holiday release](https://bucklescript.github.io/blog/2019/12/20/release-7-02)

This includes adding the `[@unboxed]` decorator to the decorators overview with

[2020-03-17 09:47] ryyppy commented on #130
Unintentionally made a duplicate #148 .. will close this in favour of the latter

[2020-03-17 09:47] #130 closed

[2020-03-17 12:36] Octachron commented on #40
The manual does not really use a toplevel for building code examples, it has its own caml-tex internal tools that extract the code example, process them with compiler-libs and output the corresponding latex code block. Adding hooks to caml-tex in order to switch the outcometree printer to reason's printer should not be too hard. Similarly, adding a preprocessing to the input sounds relatively stra

[2020-03-18 19:30] ryyppy commented on #40
As stated by @Octachron in Discord, some projects parse the html output to modify the data. Here the direct quote:

[2020-03-18 19:39] Octachron commented on #40
Also, converting to markdown is difficult because the manual source are written in latex and latex is too powerful as a language. However, we (me and @gasche at the very least) have been discussing about trying to convert the source to a less featurefull format to decrease the entry barrier for contributors.

[2020-03-24 08:15] davesnx opened #152 "BuckleScript into doesn't clarify much about what it is"
The intro lives here: https://reasonml.org/docs/reason-compiler/latest/introduction and looks like that:

[code]

My honest suggestion:

I would keep the title "The Reason Compiler" and start with. It's called BuckleScript.

And then shuffle this ideas:

- Transpiles/Compiles Reason code to JavaScript (and other platforms as well)
- It's build in performance in mind.
- Has great interoperability w

[2020-03-31 15:34] johnridesabike opened #154 "Add links to source code for functions"
I think it would be useful to have links to the source code with the function definitions. For BuckleScript, it may be also be good to link to the compiled JS source in addition to the OCaml/Reason source.

[2020-03-31 17:45] ryyppy commented on #154
That's a task for the odoc-json tool... definitely worth considering, but not sure how much effort it would be (so might end up lower on the prio list)

\cc @rizo

[2020-03-31 18:29] mlms13 commented on #154
Upstream odoc issue: https://github.com/ocaml/odoc/issues/128

This would be a fantastic addition. PureScript's docs have this, and I can't count how many times it's been incredibly valuable to take a quick look at the source to see how an implementation works.

[2020-03-31 19:40] rizo commented on #154
I will look into the odoc side of things to evaluate how hard it would be to implement this in an automatic way. I agree that, if doable, it would be great to have this information included in the JSON output.

An approach that could work as a workaround is adding a custom doc attribute to link to the implementation (something like `@src path/to/Module.re#L30`).

[2020-04-13 16:59] johnridesabike opened #165 "Documenting Js.Undefined"
There are some official Belt functions that use `Js.Undefined`, but it's not documented on the Reason or BuckleScript docs. The page on `option` mentions how to use [`Js.Nullable` for interoperability](https://reasonml.org/docs/manual/latest/null-undefined-option#interoperate-with-javascript-undefined-and-null), but not `Undefined`.

Some questions I have about `Js.Undefined.t`:
- Is it obsolete n

[2020-04-13 17:12] ryyppy commented on #148
Since I have been investing quite some time in reiterating Tagged Unions w/ Variants, and since there was a lot of  feedback coming from Cristiano's side regarding the unboxed feature (and its blog post), we probably want to split that topic up into more practical examples, independent from the "interop" sidebar category and really think about useful use-cases

[2020-04-17 07:13] ryyppy opened #166 "Add missing [@bs.nullable] decorator"
As noted by @sgrove, some decorators are missing in the index. One of them being `[@bs.nullable]`.

Example:
https://github.com/BuckleScript/bucklescript/blob/6c6e948cc04e1615041f400080d15d3a40be7e3e/jscomp/test/return_check.ml#L63

[2020-04-17 16:04] ryyppy opened #167 "Add missing [@bs.open] decorator"
Add [@bs.open] to the decorator overview as well.

Here is the original doc: https://bucklescript.github.io/bucklescript/Manual.html#__code_bs_open_code_type_safe_external_data_source_handling_since_1_7_0

[2020-04-18 16:57] ryyppy commented on #142
Cross referencing a similar discussion: https://github.com/reasonml/reasonml.github.io/pull/606

[2020-04-18 21:07] sgrove opened #168 "Explain the `##` operator (or make the explanation easier to find if it exists)"
As per @jsjoeio in discord:

yawaramin: that's JavaScript property access
@anmonteiro linked to https://bucklescript.github.io/docs/en/object-2#accessors

[2020-04-27 17:10] ryyppy opened #171 "Feedback Collection Thread (for all kinds of feedback / media)"
Since @sgrove sparked the idea, this thread is dedicated for all kinds of feedback / complaints about Reason documentation scattered around the internet

[Something's wrong with the Belt Docs](https://twitter.com/jensc/status/1254790259725959168)

[2020-04-28 14:30] ryyppy opened #172 "Document the doc header syntax for generating API documentation"
In Reason, doc headers need to be written in `ocamldoc` syntax.

You can find the specification of the ocamldoc format in the OCaml Manual [here](http://caml.inria.fr/pub/docs/manual-ocaml/ocamldoc.html#sss%3Aocamldoc-crossref)

Ideally, we'd extract the most relevant information and describe the syntax in Reason snippets, so it's easy to copy and paste them. Maybe give some pointers on best pract

[2020-04-29 21:19] bdunn313 opened #173 "ReasonReact Examples and Snippets"
The current iteration of Reason docs have some solid examples for using ReasonReact that might help new users understand the library better. We should port over and expand on these examples.

Current ReasonReact examples:
https://reasonml.github.io/reason-react/docs/en/simple

Somewhat related to #142 as some of these examples are small enough that they could be considered for examples listed on t

[2020-04-29 21:21] bdunn313 commented on #173
I'd be happy to work on this issue myself (particularly since I have an upcoming staycation)

[2020-04-30 03:10] ryyppy commented on #173
awesome, happy to have you working on that! it would be great to have a Examples group in the ReasonReact sidebar with all links to the examples. Maybe also sync with @peterpme, since he has been updating the ReasonReact docs lately

For the ReasonReact root page, i am definitely open for suggestions

[2020-04-30 13:11] ryyppy commented on #127
@vmarcosp woops, sorry for the late reply... design wise we are pretty tightly coupled to our designer here, so for the beginning there may be smaller components that are more isolated

[2020-04-30 13:11] ryyppy commented on #127
Fixed with #135

[2020-04-30 13:11] #127 closed

[2020-04-30 13:13] ryyppy commented on #97
Update: Now with #135 merged, we finally have a frontmatter parsing setup that seems to work pretty well. I wanted to adapt the rest of the infrastructure to be able to pass meta data / title frontmatter to the layout component

[2020-05-01 00:33] wezm opened #174 "RSS feed for blog"
It would be great to have an RSS feed for the blog so folks (like me) can discover new posts automatically and read in the comfort of their feed reader if they desire.

[2020-05-02 07:39] wontheone1 opened #176 "Add section about JSON literal"
https://github.com/reason-association/reasonml.org/blob/master/pages/docs/reason-compiler/latest/function.mdx#fixed-arguments

[code]

Above was about everything I could find about JSON literal on the doc and it doesn't have its own section. Also, it is hard to find about this. I think it should be included in a doc about JSON or have its own page and better paragraphs.

[2020-05-02 07:41] ryyppy commented on #174
That's a good idea and luckily this is not hard to implement.

Just in case someone else want to tackle this before I'd do it:
- Write a function `BlogApi.createRssFeed`, which utilizes the `BlogApi.getAllPosts` for retrieving the data
  - Inspiration for the RSS serialization: https://gist.github.com/fredrikbergqvist/36704828353ebf5379a5c08c7583fe2d
- Create a page `/pages/rss.re` or (whatever na

[2020-05-02 07:43] ryyppy commented on #137
Update: we are currently in the process of generating the API docs from the actual BuckleScript modules via odoc. We will implement the sidebar ordering there.

[2020-05-02 07:45] ryyppy commented on #89
I'll consider this to be done for now, please reopen if there's anything missing!

[2020-05-02 07:45] #89 closed

[2020-05-02 07:45] wontheone1 opened #177 "Document about pipe last and guide that it's usage is discouraged."
I learned that using pipe last operator (`|>`) is discouraged when compiling to JS.

Quoting @ryyppy

However, as long as this is legally compiled by the compiler, we still need to have documentation explains the syntax and why it is discouraged.

And other languages have both pipe operators too and users of those languages will start wondering what ReasonML pipe last operator looks like and waste

[2020-05-03 03:32] vasco3 commented on #137
awesome!

[2020-05-03 05:24] wontheone1 commented on #176
@ryyppy and other maintainers. Would like to ask your opinion.

Should JSON literal be documented on [this page](https://github.com/reason-association/reasonml.org/blob/master/pages/docs/reason-compiler/latest/json.mdx)?

Or does it need its own page?

What should be the content of the documentation? (I am pretty new to reason so I am not sure if this is used in the other contexts than just `[@bs.

[2020-05-03 20:57] peterpme commented on #173
:wave: Would love your help @bdunn313 :smile:

Since reasonml.org docs are synced from ReasonReact (from what I understand), can you please open a PR here? https://github.com/reasonml/reason-react/

It will then be synced to reasonml.org

Thank you!!

[2020-05-04 05:24] ryyppy commented on #168
Just to be clear, the same information is available on reasonml.org: https://reasonml.org/docs/reason-compiler/latest/object-2#accessors

I am not sure how to highlight the `##` syntax, except finally finding better names for the `Object` and `Object 2` pages. Any ideas on how to find it more easily are highly appreciated!

[2020-05-04 08:30] bobzhang commented on #165
The reason is that nested Undefined is flattened which is contrary to option so that the generated code is slightly better than the option.

It's less used when you don't care about perf or code size or in non-polymorphic code

Undefined is flattened contrary to option

I am not sure I fully get the question, why it is problematic here?

[2020-05-04 08:58] cristianoc commented on #165
I think that such a binding can be unsound precisely because of flattening. Or, just with "surprising behaviour".

[2020-05-04 12:58] johnridesabike commented on #165
I’m thinking of the [caveats listed on the Reason docs for `option`](https://reasonml.github.io/docs/en/null-undefined-option#caveat-1):

The second one in particular. Do these apply to `Js.undefined` the same way?

[2020-05-05 01:59] jsjoeio commented on #168
A few thoughts that might help:

1. The search doesn't work on the site. In the idea world, I would search ## and be lead to this page on "Accessors"
<img width="144" alt="image" src="https://user-images.githubusercontent.com/3806031/81029030-69a5ae80-8e38-11ea-88f6-2b56bf82599e.png">
2. Add a description to "Accessors" - notice how it goes straight to "read" without telling me what it is or why I

[2020-05-05 15:45] ryyppy commented on #174
@wezm just added RSS support. Could you test it with your preferred RSS feed reader and give feedback?

URL: https://reasonml.org/blog/feed.xml

[2020-05-05 20:19] ryyppy commented on #177
Done!

[2020-05-05 20:19] #177 closed

[2020-05-05 22:20] wezm commented on #174
Excellent, thank you. I was able to subscribe in [Reeder](https://www.reederapp.com/) and it worked although there is no article body present.

![image](https://user-images.githubusercontent.com/21787/81121592-70384100-8f72-11ea-9726-bc1bedfb547a.png)

[2020-05-06 06:06] ryyppy commented on #174
the article body is the description meta field within our blog system... articles ported from the different Reason projects don't have that set, unless the editor did some extra writing ... that said, some articles should have a description set.

If you could give me an example of a good looking RSS preview from another RSS feed, I could try to extract some content text from the blog content body

[2020-05-06 08:26] bobzhang commented on #165
On Mon, May 4, 2020 at 8:59 PM John Jackson <notifications@github.com>
wrote:

problematic when you pass `Some None` or `(Some (Some (Some (None)))))`

Monomorphic is always preferred to polymorphic -- you get better
performance and more safety check. If you really want bind to polymorphic
optional, `'a Js.undefined` is safer here since it is a JS thing, while `'a
option` is not

--
Regards
-- Hon

[2020-05-14 11:48] ryyppy opened #200 "[Testing] use line number / filename directive for better line number reporting"
OCaml has this really neat feature of setting the line number / filename context of an executed script:

[code]

which will report an error like this:

[code]

Here, the line number is correctly reported as `201`.
This can potentially replace the weird regex magic done in `scripts/test-examples.js`.

\cc @rizo for giving the tip

[2020-05-15 09:09] ryyppy commented on #13
Fixed in #163

[2020-05-15 09:09] #13 closed

[2020-05-15 09:09] ryyppy commented on #123
Fixed in #163

[2020-05-15 09:09] #123 closed

[2020-05-15 09:09] ryyppy commented on #126
Fixed in master

[2020-05-15 09:09] #126 closed

[2020-05-16 04:37] wezm commented on #174
Closing as this is now working for me.

[2020-05-16 04:37] #174 closed

[2020-05-19 07:14] ryyppy opened #203 "[BuckleScript] Proposal for new common-data-types section"
# Introduction

Right now, the bucklescript documentation provides a [common datatypes](https://reasonml.org/docs/reason-compiler/latest/common-data-types) section to describe so called **shared** and **non-shared** data types.

- Shared data types are Reason types that have an equivalent JS data type (like `int`, `string`, or `float`)
- Non-shared data types are Reason specific data structures wi

[2020-06-11 08:55] MinimumViablePerson opened #210 "Playground "to be implemented""
https://reasonml.org/try just says "to be implemented" at the moment.

Is there any reason why it doesn't just take you here instead? https://reasonml.github.io/try

[2020-06-13 07:19] lesha1201 opened #211 "Font hinting problems"
# Description

There is a problem with font hinting for small thin text on Windows 10 (2560x1440) which makes text hard to read.

**From reasonml.org [Chrome 83]:**
![image](https://user-images.githubusercontent.com/10157660/84562394-fbb8a500-ad5c-11ea-8db9-c5b55f66a02a.png)

**Using official Inter font (for Web) [Chrome 83]:**
![image](https://user-images.githubusercontent.com/10157660/84562390-e

[2020-06-13 19:06] ryyppy commented on #210
We didn't put any thought to a temporary solution here, so feel free to send a PR to add a link!

The new implementation of the playground is currently in the working and will hopefully be available soon.

[2020-06-13 19:08] ryyppy commented on #211
i think inter should be available via google fonts by now? maybe we should source the fontsets from there?

We are mostly using latin afaik to keep the size small

[2020-06-14 07:27] lesha1201 commented on #211
@ryyppy Yes, it's availabe on Google Fonts https://fonts.google.com/specimen/Inter . Also here is a good article about increasing performance for google fonts https://csswizardry.com/2020/05/the-fastest-google-fonts/

[2020-06-25 08:48] #211 closed

[2020-07-25 18:40] jdeisenberg commented on #145
Add a section about books / learning resources

[2020-07-27 18:57] ryyppy opened #225 "Upgrade to Next@9.5"
See: https://nextjs.org/blog/next-9-5

[2020-07-27 19:26] serpent7776 opened #226 "[Bucklescript] install via yarn fails with env: python: No such file or directory"
Installing bucklescript via `yarn add --dev bs-platform` fails on building `ninja` with message `env: python: No such file or directory`

In fact on my machine, there's no `python` executable, only `python3`.

[code]
[code]
[code]

[bs.log](https://github.com/reason-association/reasonml.org/files/4983996/bs.log)

[2020-07-28 06:13] ryyppy commented on #226
Hey! This issue relates to the compiler toolchain. Could you open it up in the [BuckleScript](https://github.com/BuckleScript/bucklescript/issues) repo?

[2020-07-28 16:42] serpent7776 commented on #226
Created here https://github.com/BuckleScript/bucklescript/issues/4576

Maybe it would be a good idea to create an issue template with a link to the BuckleScript/bucklescript repo and note to report there in case of such issues.

Thanks.

[2020-07-29 05:52] #226 closed

[2020-08-02 10:34] EhsanSarshar opened #231 "is there a plan for reasonml webassembly"
it would be perfect to compile reasonml to webassembly, that would open the way for new libraries or even React reason wasm

[2020-08-04 14:17] jdeisenberg opened #235 "Example for [%raw] does not work in .res file"
The example at https://reasonml.org/docs/reason-compiler/latest/embed-raw-javascript
[code]
Produces this error when compiled with BuckleScript 8.1.1 ( Using OCaml:4.06.1+BS )
[code]

[2020-08-05 05:31] ryyppy commented on #235
All examples are still in Reason syntax (recognizable by the extension name in the top right corner of each snippet):

![image](https://user-images.githubusercontent.com/1121889/89375230-8bd7f280-d6ed-11ea-8e8f-290adb0df08d.png)

We will make an announcement when all examples are also available in the new syntax as well (those will be marked as RES)

[2020-08-05 19:06] peterpme opened #236 "Docs Design: Decreasing the line-height on the left-side menu in the Api Docs"
After experimenting around a bit I felt like having the line-height smaller (putting every item closer together) was easier to read on the eyes.

The suggested differences:

before (current way):
<img width="285" alt="image" src="https://user-images.githubusercontent.com/1211905/89453302-a8435180-d724-11ea-96b9-750ea5541b29.png">

after:
<img width="254" alt="image" src="https://user-images.github

[2020-08-28 19:46] ryyppy commented on #152
This will be clarified with ReScript's new elevator pitch

[2020-08-28 19:46] #152 closed

[2020-08-28 19:48] ryyppy commented on #225
done in rescript-lang

[2020-08-28 19:48] #225 closed

[2020-08-28 19:48] ryyppy commented on #210
implemented in rescript-lang!

[2020-08-28 19:48] #210 closed

[2020-08-28 19:53] ryyppy commented on #168
Due to the move to ReScript, the `##` is obsolete and the `Object 2,..` section got refactored into a [unified object section](https://rescript-lang.org/docs/manual/v8.0.0/bind-to-js-object).

[2020-08-28 19:53] #168 closed

[2020-08-28 19:54] ryyppy commented on #200
this is not needed anymore, we got a way better way on testing all snippets that's at least 20 times faster

[2020-08-28 19:54] #200 closed

[2020-08-28 19:54] #235 closed

[2020-09-02 02:26] peterpme opened #241 "Simpler Belt Examples (like Belt.Set)"
I was trying to understand how to use Belt.set and the example I see is.

Even for somebody whose used a bit of Reason, this takes a bit to grok 😅

[code]

In this specific example, I don't have an alternative but just wanted to bring this to attention. Thanks!

[2021-01-14 00:06] ghost commented on #116
Typescript uses backstopjs for visual regression tests. I was also interested in Percy for a site that I am working on, but I stopped research for now.